@keyframes fireRing {
    from {
        transform: scale(0);
        opacity: 1;
    }
    to {
        transform: scale(1);
        opacity: 0;
    }
}

.ring {
    position: fixed;
    z-index: 999999;
    border-radius: 50%;
    border: 12px solid orange;
    width: 64px;
    height: 64px;
    animation: fireRing 0.5s ease-out forwards;
    pointer-events: none; /* Ignore pointer events */
    transform: scale(0);
    margin-left: -32px;
    margin-top: -32px;
}
