.Popup {
    text-align: center;
    width: 20rem;
}

.record {
    background-color: #ff0000;
    &:hover {
        background-color: #ff6666;
    }
}

.widget {
    background-color: #00ff00;
    &:hover {
        background-color: #66ff66;
    }
}

.settings {
    background-color: #0000ff;
    &:hover {
        background-color: #6666ff;
    }
}

.buttons {
    display: flex;
    justify-content:center;
    gap: 1rem;
}
